<footer class="footer bg-dark py-2 mt-auto" style="text-align: center;">
    <div class="container">
        <span class="text-muted"> &copy; Campground 2022 By Suman Vastrakar</span>

    </div>

</footer>